.donerInfo {
    width: 45vw;
    height: auto;
    margin: 5px;
}

.donerInfoTekst {
    font-family: Oswald, sans-serif;
    text-align: left;
    line-height: 2;
}

.donerDoner {
    float:right;
    width: 40vw;
    height: auto;
    margin: 1%;
    bottom:0;
    right:0;
    background-color: darkolivegreen;
    background-color: rgba(85, 107, 47, 0.4);
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.donerDonerTekst {
    font-family: Oswald, sans-serif;
    text-align: left;
    margin: 2%;
}

.donerKnap {
    text-align: right;
    margin-top: 2%;
}

.donerKnap button {
    font-size: 25px;
    padding: 15px 50px;
    border-radius: 10px;
    cursor: pointer;
    font-family: Oswald, sans-serif;
}

.donerKnap a {
    text-decoration: none;
    color: black;
    font-family: Oswald, sans-serif;
}

.donerGraph {
    bottom: 0;
    left: 0;
}

.donerGraph img {
    width: min(500px, 100vw);
    height: auto;
    display: block;
}

body {
    background-color: yellowgreen;
}