.donerInfo {
    width: 700px;
    margin: 5px;
}

.donerInfoTekst {
    font-family: Oswald, sans-serif;
    text-align: left;
    line-height: 2;
}

.donerDoner {
    width: 700px;
    margin: 5px;
    position: fixed;
    bottom: 5px;
    right: 5px;
    background-color: darkolivegreen;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.donerDonerTekst {
    font-family: Oswald, sans-serif;
    text-align: left;
    margin: 10px;
}

.donerKnap {
    text-align: right;
    margin-top: 30px;
}

.donerKnap button {
    font-size: 25px;
    padding: 15px 50px;
    border-radius: 10px;
    cursor: pointer;
}

.donerKnap a {
    text-decoration: none;
    color: black;
}

.donerGraph {
    position: absolute;
    bottom: 0vw;
    left: 0vh;
}

.donerGraph img {
    max-width: 700px;
    min-height: 250px;
}

body {
    background-color: yellowgreen;
}