.OmOs{
    text-align: center;
    background-color: yellowgreen;
}
.MarginSection{
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: darkolivegreen;
    padding: 10px;
}
.HvemErVi{
    font-weight: bold;
    font-size: 50px;
}
.FoodLovers{
}

.VisionMission{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-items: center;
    grid-column-gap: min(5px);
    align-items: start;
}

.FNVerdensmål{
    display: grid;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    justify-items: center;
    align-items: center;
    min-height: 70px;
    width: 300px;
    padding: 10px;
    background-color: darkolivegreen;}
.FNVerdensmål:hover{background-color: gold;}
.FNVerdensmål > * {margin: 0}
.FNVerdensmålHide {display: none; font-size:25px}
.FNVerdensmålText { display: block; font-size: 30px; font-weight: bold; text-align: center}
.FNVerdensmål:hover .FNVerdensmålText { display: none; }
.FNVerdensmål:hover .FNVerdensmålHide { display: block; }
.FNVerdensmålPic img{
    display: grid;
    margin-top: 40px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    justify-items: center;
    align-items: center;
    min-height: 70px;
}

.Mission{
    display: grid;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    justify-items: center;
    align-items: center;
    min-height: 70px;
    width: 300px;
    padding: 10px;
    background-color: darkolivegreen;
}
.Mission:hover{background-color: gold;}
.Mission > * {margin: 0}
.MissionHide {display: none; font-size:25px}
.MissionText { display: block; font-size: 30px; font-weight: bold; text-align: center}
.Mission:hover .MissionText { display: none; }
.Mission:hover .MissionHide { display: block; }

.MissionPic img{
    display: grid;
    margin-top: 40px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    justify-items: center;
    align-items: center;
    min-height: 70px;
}

.Vision{
    display: grid;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    justify-items: center;
    align-items: center;
    min-height: 70px;
    width: 300px;
    padding: 10px;
    background-color: darkolivegreen;}
.Vision:hover{background-color: gold;}
.Vision > * {margin: 0}
.VisionHide {display: none; font-size:25px;}
.VisionText { display: block; font-size: 30px; font-weight: bold; text-align: center}
.Vision:hover .VisionText { display: none; }
.Vision:hover .VisionHide { display: block; }

.VisionPic img{
    display: grid;
    margin-top: 40px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    justify-items: center;
    align-items: center;
    min-height: 70px;
}
