

.OmOs {
    text-align: center;
    background-color: yellowgreen;
    font-family: Oswald, sans-serif;
    margin: 6%;
}

.OmOsIndhold{
    background-color: rgba(85, 107, 47, 0.2);
    padding-top: 2%;
    padding-bottom: 2%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;


}

.MarginSection {
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: darkolivegreen;
    background-color: rgba(85, 107, 47, 0.2);
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    font-family: Oswald, sans-serif;
}

.HvemErVi {
    font-weight: bold;
    font-size: 50px;
}

.FoodLovers {
}

.VisionMission {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-items: center;
    grid-column-gap: min(5px);
    align-items: start;
    font-family: Oswald, sans-serif;
}

.FNVerdensmål, .Vision, .Mission {
    display: grid;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    justify-items: center;
    align-items: center;
    min-height: 70px;
    width: 300px;
    padding: 10px;
    background-color: darkolivegreen;
    background-color: rgba(85, 107, 47, 0.4);
    transition: 0.3s;
}

.FNVerdensmål:hover, .Vision:hover, .Mission:hover {
    background-color: gold;
    background-color: rgba(255, 215, 0, 0.6);
    transform: scale(1.1);
}

.FNVerdensmål > *, .Vision > *, .Mission > * {
    margin: 0
}

.VisionHide, .MissionHide {
    display: none;
    font-size: 25px
}

.FNVerdensmålHide {
    display: none;
    font-size: 20px
}

.FNVerdensmålText, .VisionText, .MissionText {
    display: block;
    font-size: 30px;
    font-weight: bold;
    text-align: center
}

.FNVerdensmål:hover .FNVerdensmålText, .Vision:hover .VisionText, .Mission:hover .MissionText {
    display: none;
}

.FNVerdensmål:hover .FNVerdensmålHide, .Vision:hover .VisionHide, .Mission:hover .MissionHide {
    display: block;
}

.FNVerdensmålPic img, .VisionPic img, .MissionPic img {
    display: grid;
    margin-top: 50px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    justify-items: center;
    align-items: center;
    min-height: 70px;
}