.grid,
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 900px;
    margin: 20px auto;
    border: 1px solid black;
    box-sizing: border-box;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.grid2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 900px;
    margin: 20px auto;
    border: 1px solid black;
    box-sizing: border-box;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.reklame {
    display: grid;
    text-align: center;
    width: 700px;
    height: 100px;
    position: relative;
}

.weeFoodInfo,
.motatosInfo {
    width: 700px;
    box-sizing: border-box;
    letter-spacing: 1.2px;
    line-height: 1.4;
    text-align: left;
    padding-left: 1.5%;
}

.weeFoodInfo {
    border-right: 1px solid black;
}

.motatosInfo {
    border-left: 1px solid black;
}

.logo2 img,
.logo img {
    width: 200px;
    height: 200px;
    display: block;
}

.logo:hover {
    transform: rotate(50deg);
}

.logo2:hover {
    transform: rotate(-50deg);

}

.reklame img:first-child {
    position: absolute;
    width: 100%;
    opacity: 1;
    height: 100px;

    animation: img-1 1s infinite;
}

.reklame img:last-child {
    position: absolute;
    width: 100%;
    opacity: 0;
    height: 100px;
    animation: img-2 1s infinite;
}

@keyframes img-1 {
    0% {
        opacity: 1;
    }
    44% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    94% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
    
}

@keyframes img-2 {
    0% {
        opacity: 0;
    }
    44% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    94% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}


