.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 900px;
    margin: 20px auto;
}

.grid2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 900px;
    margin: 20px auto;
}


.grid > div {
    border: 1px solid black;
    box-sizing: border-box;
}

.grid2 > div {
    border: 1px solid black;
    box-sizing: border-box;
}

.reklame {
    display: grid;
    border: 1px solid black;
    margin: 0 auto;
    text-align: center;
    width: 850px;
    height: 100px;
    margin: 20px auto;
}

body {
    background-color: yellowgreen;
}

.motatosInfo {
    text-align: left;
    width: 700px;

}

.weeFoodInfo {
    text-align: right;
    width: 700px;
}

.logo img {
    width: 200px;
    height: 200px;
    display: block;
    padding: 1px;
    margin: 0 auto;
}

.Menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: darkolivegreen;
    padding: 15px 30px;
}

.Logo {
    width: 100px;
    height: 100px;
}

.Links {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
}

.Footer {
    display: flex;
    justify-content: flex-start;
    align-content: center;
    background-color: darkolivegreen;
    margin-top: 50px;
    padding: 10px;
}




