.Menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: darkolivegreen;
    padding: 15px 30px;
}
.Logo{
    width: 100px;
    height: 100px;
}
.Links{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
}

.Footer{
    display: flex;
    justify-content: flex-start;
    align-content: center;
    background-color: darkolivegreen;
    margin-top: 50px;
    padding: 10px;
}

.EventBox {

}

.EventPicture {

}

.EventLinkText {

}

