.Menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: darkolivegreen;
    padding: 15px 30px;
}
.Logo{
    width: 100px;
    height: 100px;
}
.Links{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
}

.Footer{
    display: flex;
    justify-content: flex-start;
    align-content: center;
    background-color: darkolivegreen;
    margin-top: 50px;
    padding: 10px;
}
.Forum{
    display: flex;
    justify-content: space-between;
    align-content: center;

}
.ForumWriteYourStory{
    width: 400px;
    height: 200px;
}
.ForumStory{
    display:grid;
    background-color: darkslategray;
width: 200px;
    height: 100%;
    padding: 10px;
    margin: 20px;
    border-radius: 10px;

}