.Menu {
    overflow: hidden;
    background-color: darkolivegreen;
    border-radius: 5px;
    height: 10vh;
    width: 99.5vw;
}

.Menu a:hover {
    background-color: antiquewhite;
    color: limegreen;
    border-radius: 5px;
}


.smallMenu a {
    padding: 0.4vw;
    float: left;
    font-size: 0.7vw;
    text-align: center;
    text-decoration: none;
    color: antiquewhite;
}

.bigMenu {
    left: 5%;
    margin-left: 1%;
}

.bigMenu a {
    float: left;
    font-size: 2.5vw;
    text-align: center;
    padding: 1.5% 3%;
    text-decoration: none;
    color: antiquewhite;
}


.Logo {
    width: 6%;
    height: 100%;
    float: left;
    padding-right: 0;
}

.soMePic {
    width: 5%;
    height: auto;
    float: right;
    margin-top: 3vh;
    margin-right: 0.1vw;
    padding: 0.1%
}

.Footer img {
    width: 6%;
    height: auto;
    float: left;
}


.Footer {
    text-align: left;
    background-color: darkolivegreen;
    bottom: 0;
    padding-bottom: 2vh;
    padding-right: 2vw;
    height: 5vh;
    width: 97vw;
    border-radius: 5px;
}

.footerText {
    padding-top: 2vh;
    text-align: center;
    font-size: 1vw;
    width: 100%;
}


.PhotoGrid {
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-rows: 200px;
    grid-gap: 5px;
    grid-auto-flow: dense;
    margin-bottom: 10px;
}

.PhotoGrid img, .PhotoGrid video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.horizontal {
    grid-column: span 2;
}

.vertical {
    grid-row: span 2;
}

.big {
    grid-column: span 2;
    grid-row: span 2;
}

body {
    background-color: yellowgreen;
}